@import 'partials/base';
@import 'partials/dark_theme';
@import 'partials/variables';
@import 'partials/mixins';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F8FF; //add light color
    color:black;
    font-family: 'Space Mono', monospace;
}

.container {
    width: 50%;
    margin: 0 auto;
    // border: 1px solid red;

    a {
        text-decoration: none;
        color: #000;
    
        &:hover {
            text-decoration: underline;
        }
    }

    .top-banner {
        display: flex;
        justify-content: space-between;

        #logo {

        }

        .button-box {
            #theme-btn {
                font-family: 'Space Mono', monospace;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 78px;
                background: none;
                border: none;

                #theme-label {
                    text-transform: uppercase;
                    padding-left: 2px;

                    &::before{
                        content:'Dark';
                    }
                }

                &:hover {
                    cursor: pointer;
                }

                #moon-icon {
                    display: block;
                }

                #light-bulb-icon {
                    display: none;
                }
            }
        }
    }

    .search-container, .card {
        background-color: #FEFEFE; //add light default
        margin: 10px 0;
    }

    .search-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        // #search-icon {
            //     // flex: 1;
            //     // padding-left: 32px;
        // }
        
        input {
            flex:1;
            font-family: 'Space Mono', monospace;
            background: url('../assets/icon-search.svg') no-repeat center left 32px/contain;
            background-size: 21px 21px;
            padding: 0.5rem 0.5rem 0.5rem 77px;
            border: none;
            color:#222731;
            line-height: 25px;
            outline: none;

            &::placeholder,
            &::-webkit-input-placeholder {
                font-weight: 700;
                border: none;
                color:#4B6A9B;
            }

            &:focus {
                border: none;
            }
        }

        #search-btn {
            font-family: 'Space Mono', monospace;
            font-size: 16px;
            box-sizing: border-box;
            background-color: #0079FF;
            border: none;
            border-radius: 10px; //not sure about this
            padding: 13px 24px;
            color: #fff;
        }
    }

    .card {
        display: flex;
        
        .card-left {
            // flex-basis:100%; //do i need it
            img {
                border-radius: 50%;
            }
        }
        
        .card-right {
            flex-basis:100%;

            .card-body {
                // border: 1px solid orange;
    
                .name-date {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex: 1;
                    
                    #join-date {
                        color: #697C9A;
                        font-size: 15px;
                    }
                }

                .login-container {
                    #login {
                        color: #0079FF;
                        font-size: 16px;
                    }
                    .error-message {
                        display: none;
                    }

                    &.unavailable {
                        a {
                            display: none;
                        }

                        .error-message {
                            display: block;
                        }
                    }
                }

                #bio {
                    font-size: 15px;
                    color: orange;
                }
    
            }

            .numbers-container {
                display: flex;
                background-color:#F6F8FF; //add light default
                border-radius: 10px;
                padding: 15px 30px;

                .number-item {
                    flex:1;
                    .title, .number {
                        display: block;
                    }

                    .title {
                        color: #4B6A9B;
                        font-size: 13px;
                    }

                    .number {
                        color: #2B3442;
                        font-size: 22px;
                        font-weight: 700;

                    }
                }
            }

            .contact-container {
                display: grid;
                grid-template-columns: repeat(2,1fr);
                font-size: 15px;
                .location-container, .twitter-container, .blog-container, .company-container {

                    .error-message {
                        display: none;
                    }

                    &.unavailable { //This will hide the link and show the error message instead
                        opacity: 0.6;
                        a {
                            display: none;
                        }
                        .error-message {
                            display: inline;
                        }
                    }

                    .location-icon {
                        // filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);;
                    }
                }

                .twitter-icon {

                }

                .blog-icon {

                }

                .company-icon {

                }
            }
        }
    }
}