@import 'partials/variables';
@import 'partials/mixins';

* {
    margin: 0;
    padding: 0;
}

body {
    &.dark {
        background-color: var(--background-body-dark);
        color: var(--text-primary-dark);

        .container {
            .search-container, .card {
                background-color: var(--background-card-dark);
            }

            .card {
                .card-right {
                    .numbers-container {
                        background-color:var(--background-body-dark);
                    }
                }
            }
        }
    }

    &.light {
        // background-color: var(--background-body-dark);
        // color: var(--text-primary-dark);

        .container {
            .search-container, .card {
                // background-color: var(--background-card-dark);
            }

            .card {
                .card-right {
                    .numbers-container {
                        // background-color:var(--background-body-dark);
                    }
                }
            }
        }
    }
}

.container {
    width: 50%;
    margin: 0 auto;
    // border: 1px solid red;

    .top-banner {
        display: flex;
        justify-content: space-between;
    }

    .search-container, .card {
        
        margin: 10px 0;
    }

    .search-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        #search-icon {
            // display: subgrid;
        }

        input {
            // display: inline-block;
            height: 100%;
            padding: 0.5rem;
            width: 80%;
        }
    }

    .card {
        display: flex;
        
        .card-left {
            // flex-basis:100%; //do i need it
            img {
                border-radius: 50%;
            }
        }
        
        .card-right {
            flex-basis:100%;

            .card-body {
                // border: 1px solid orange;
    
                .name-date {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex: 1;
                }

                .login-container {
                    .error-message {
                        display: none;
                    }

                    &.unavailable {
                        a {
                            display: none;
                        }

                        .error-message {
                            display: block;
                        }
                    }
                }
    
            }

            .numbers-container {
                display: flex;

                .number-item {
                    flex:1;

                    span {
                        display: block;
                    }
                }
            }

            .contact-container {
                display: grid;
                grid-template-columns: repeat(2,1fr);

                .location-container, .twitter-container, .blog-container, .company-container {

                    .error-message {
                        display: none;
                    }

                    &.unavailable { //This will hide the link and show the error message instead
                        opacity: 0.6;
                        a {
                            display: none;
                        }
                        .error-message {
                            display: inline;
                        }
                    }

                    .location-icon {
                        // filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);;
                    }
                }

                .twitter-icon {

                }

                .blog-icon {

                }

                .company-icon {

                }
            }
        }
    }
}

a {
    text-decoration: none;
    color: #fff;

    &:hover {
        text-decoration: underline;
    }
}