:root {
  --background-body-dark: #141D2F;
  --background-card-dark: #1E2A47;
  --text-primary-dark:#fff;
}

* {
  margin: 0;
  padding: 0;
}

body.dark {
  background-color: var(--background-body-dark);
  color: var(--text-primary-dark);
}
body.dark .container .search-container, body.dark .container .card {
  background-color: var(--background-card-dark);
}
body.dark .container .card .card-right .numbers-container {
  background-color: var(--background-body-dark);
}
.container {
  width: 50%;
  margin: 0 auto;
}
.container .top-banner {
  display: flex;
  justify-content: space-between;
}
.container .search-container, .container .card {
  margin: 10px 0;
}
.container .search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .search-container input {
  height: 100%;
  padding: 0.5rem;
  width: 80%;
}
.container .card {
  display: flex;
}
.container .card .card-left img {
  border-radius: 50%;
}
.container .card .card-right {
  flex-basis: 100%;
}
.container .card .card-right .card-body .name-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.container .card .card-right .card-body .login-container .error-message {
  display: none;
}
.container .card .card-right .card-body .login-container.unavailable a {
  display: none;
}
.container .card .card-right .card-body .login-container.unavailable .error-message {
  display: block;
}
.container .card .card-right .numbers-container {
  display: flex;
}
.container .card .card-right .numbers-container .number-item {
  flex: 1;
}
.container .card .card-right .numbers-container .number-item span {
  display: block;
}
.container .card .card-right .contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container .card .card-right .contact-container .location-container .error-message, .container .card .card-right .contact-container .twitter-container .error-message, .container .card .card-right .contact-container .blog-container .error-message, .container .card .card-right .contact-container .company-container .error-message {
  display: none;
}
.container .card .card-right .contact-container .location-container.unavailable, .container .card .card-right .contact-container .twitter-container.unavailable, .container .card .card-right .contact-container .blog-container.unavailable, .container .card .card-right .contact-container .company-container.unavailable {
  opacity: 0.6;
}
.container .card .card-right .contact-container .location-container.unavailable a, .container .card .card-right .contact-container .twitter-container.unavailable a, .container .card .card-right .contact-container .blog-container.unavailable a, .container .card .card-right .contact-container .company-container.unavailable a {
  display: none;
}
.container .card .card-right .contact-container .location-container.unavailable .error-message, .container .card .card-right .contact-container .twitter-container.unavailable .error-message, .container .card .card-right .contact-container .blog-container.unavailable .error-message, .container .card .card-right .contact-container .company-container.unavailable .error-message {
  display: inline;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
