:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F6F8FF;
  color: black;
  font-family: "Space Mono", monospace;
}
body .boxshadow {
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

.container {
  max-width: 730px;
  width: 70%;
  margin: 100px auto 0;
}
.container a {
  text-decoration: none;
  color: #000;
}
.container a:hover {
  text-decoration: underline;
}
.container .top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.container .top-banner #logo {
  font-size: 26px;
}
.container .top-banner .button-box #theme-btn {
  color: #697C9A;
  font-family: "Space Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 78px;
  background: none;
  border: none;
}
.container .top-banner .button-box #theme-btn:hover {
  cursor: pointer;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(177deg) brightness(40%) contrast(93%);
}
.container .top-banner .button-box #theme-btn #theme-label {
  text-transform: uppercase;
  padding-left: 2px;
  font-weight: 700;
  letter-spacing: 2.5px;
  font-size: 13px;
}
.container .top-banner .button-box #theme-btn #theme-label::before {
  content: "Dark";
}
.container .top-banner .button-box #theme-btn #moon-icon {
  display: block;
}
.container .top-banner .button-box #theme-btn #light-bulb-icon {
  display: none;
}
.container .search-container, .container .card {
  background-color: #FEFEFE;
  margin: 10px 0;
}
.container .search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 25px;
}
.container .search-container input {
  flex: 1;
  font-family: "Space Mono", monospace;
  font-size: 18px;
  background: url("../assets/icon-search.svg") no-repeat center left 32px/contain;
  background-size: 21px 21px;
  padding: 0.5rem 0.5rem 0.5rem 77px;
  border: none;
  color: #222731;
  line-height: 25px;
  outline: none;
  min-width: 0;
}
.container .search-container input::placeholder, .container .search-container input::-webkit-input-placeholder {
  border: none;
  color: #4B6A9B;
}
.container .search-container input:focus {
  border: none;
}
.container .search-container .error-message {
  display: none;
  font-size: 15px;
  color: #F74646;
  font-weight: bold;
  padding-right: 24px;
}
.container .search-container.unavailable .error-message {
  display: block;
}
.container .search-container #search-btn {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #0079FF;
  border: none;
  border-radius: 10px;
  padding: 13px 24px;
  color: #fff;
}
.container .search-container #search-btn:hover {
  background-color: #60ABFF;
  cursor: pointer;
}
.container .search-container #search-btn:active {
  background-color: #0079FF;
}
.container .card {
  border-radius: 10px;
  padding: 45px 48px;
}
.container .card .first-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .card .first-content #avatar {
  border-radius: 50%;
  width: 117px;
  height: 117px;
  margin-right: 40px;
}
.container .card .first-content .card-body {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.container .card .first-content .card-body .basic-info {
  flex: 1;
}
.container .card .first-content .card-body .basic-info #name {
  color: #2B3442;
  padding-right: 20px;
}
.container .card .first-content .card-body .basic-info .login-container #login {
  color: #0079FF;
  font-size: 16px;
}
.container .card .first-content .card-body .basic-info .login-container .error-message {
  display: none;
}
.container .card .first-content .card-body .basic-info .login-container.unavailable a {
  display: none;
}
.container .card .first-content .card-body .basic-info .login-container.unavailable .error-message {
  display: block;
}
.container .card .first-content .card-body #join-date {
  flex: 1;
  color: #697C9A;
  font-size: 15px;
  line-height: 36px;
  text-align: right;
}
.container .card .second-content {
  margin-left: 157px;
}
.container .card .second-content #bio {
  font-size: 15px;
  color: #4B6A9B;
  line-height: 25px;
}
.container .card .second-content #bio.unavailable {
  opacity: 0.75;
}
.container .card .second-content .numbers-container {
  display: flex;
  background-color: #F6F8FF;
  border-radius: 10px;
  padding: 15px 30px;
  margin: 30px 0;
}
.container .card .second-content .numbers-container .number-item {
  flex: 1;
}
.container .card .second-content .numbers-container .number-item .title, .container .card .second-content .numbers-container .number-item .number {
  display: block;
}
.container .card .second-content .numbers-container .number-item .title {
  color: #4B6A9B;
  font-size: 13px;
}
.container .card .second-content .numbers-container .number-item .number {
  color: #2B3442;
  font-size: 22px;
  font-weight: 700;
}
.container .card .second-content .contact-container {
  display: grid;
  gap: 5px 15px;
  grid-template-columns: repeat(2, 1fr);
  font-size: 15px;
}
.container .card .second-content .contact-container .location-container span, .container .card .second-content .contact-container .twitter-container span, .container .card .second-content .contact-container .blog-container span, .container .card .second-content .contact-container .company-container span {
  color: #4B6A9B;
}
.container .card .second-content .contact-container .location-container a, .container .card .second-content .contact-container .twitter-container a, .container .card .second-content .contact-container .blog-container a, .container .card .second-content .contact-container .company-container a {
  word-break: break-all;
  color: #4B6A9B;
}
.container .card .second-content .contact-container .location-container .error-message, .container .card .second-content .contact-container .twitter-container .error-message, .container .card .second-content .contact-container .blog-container .error-message, .container .card .second-content .contact-container .company-container .error-message {
  display: none;
}
.container .card .second-content .contact-container .location-container img, .container .card .second-content .contact-container .twitter-container img, .container .card .second-content .contact-container .blog-container img, .container .card .second-content .contact-container .company-container img {
  margin-right: 10px;
}
.container .card .second-content .contact-container .location-container.unavailable, .container .card .second-content .contact-container .twitter-container.unavailable, .container .card .second-content .contact-container .blog-container.unavailable, .container .card .second-content .contact-container .company-container.unavailable {
  opacity: 0.6;
}
.container .card .second-content .contact-container .location-container.unavailable a, .container .card .second-content .contact-container .twitter-container.unavailable a, .container .card .second-content .contact-container .blog-container.unavailable a, .container .card .second-content .contact-container .company-container.unavailable a {
  display: none;
}
.container .card .second-content .contact-container .location-container.unavailable .error-message, .container .card .second-content .contact-container .twitter-container.unavailable .error-message, .container .card .second-content .contact-container .blog-container.unavailable .error-message, .container .card .second-content .contact-container .company-container.unavailable .error-message {
  display: inline;
}
.container .card .second-content .contact-container .location-container img {
  margin-right: 16px;
}

body.dark {
  background-color: #141D2F;
  color: #fff;
}
body.dark .boxshadow {
  box-shadow: none;
}
body.dark a {
  color: #fff;
}
body.dark .container .top-banner .button-box #theme-btn:hover {
  filter: invert(78%) sepia(13%) saturate(900%) hue-rotate(187deg) brightness(226%) contrast(120%);
}
body.dark .container .top-banner .button-box #theme-btn #theme-label {
  color: #fff;
}
body.dark .container .top-banner .button-box #theme-btn #theme-label::before {
  content: "Light";
}
body.dark .container .top-banner .button-box #theme-btn #moon-icon {
  display: none;
}
body.dark .container .top-banner .button-box #theme-btn #light-bulb-icon {
  display: block;
}
body.dark .container .search-container, body.dark .container .card {
  background-color: #1E2A47;
}
body.dark .container .search-container input {
  color: #fff;
}
body.dark .container .search-container input::placeholder, body.dark .container .search-container input::-webkit-input-placeholder {
  color: #fff;
}
body.dark .container .card .card-body .basic-info #name {
  color: #fff;
}
body.dark .container .card .card-body #join-date {
  color: #fff;
}
body.dark .container .card .second-content #bio {
  color: #fff;
}
body.dark .container .card .second-content .numbers-container {
  background-color: #141D2F;
}
body.dark .container .card .second-content .numbers-container .number-item .title {
  color: #fff;
}
body.dark .container .card .second-content .numbers-container .number-item .number {
  color: #fff;
}
body.dark .container .card .second-content .contact-container .location-container span, body.dark .container .card .second-content .contact-container .twitter-container span, body.dark .container .card .second-content .contact-container .blog-container span, body.dark .container .card .second-content .contact-container .company-container span {
  color: #fff;
}
body.dark .container .card .second-content .contact-container .location-container a, body.dark .container .card .second-content .contact-container .twitter-container a, body.dark .container .card .second-content .contact-container .blog-container a, body.dark .container .card .second-content .contact-container .company-container a {
  word-break: break-all;
  color: #fff;
}
body.dark .container .card .second-content .contact-container .location-container img, body.dark .container .card .second-content .contact-container .twitter-container img, body.dark .container .card .second-content .contact-container .blog-container img, body.dark .container .card .second-content .contact-container .company-container img {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(245deg) brightness(100%) contrast(200%);
}

@media screen and (max-width: 956px) {
  .container .card .first-content .card-body {
    flex-direction: column;
    justify-content: flex-start;
  }
  .container .card .first-content .card-body #join-date {
    line-height: unset;
    padding-top: 4px;
    text-align: unset;
  }
  .container .card .second-content {
    margin-left: 0;
    padding-left: 0;
  }
  .container .card .second-content #bio {
    padding-top: 25px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 638px) {
  .container {
    width: 90%;
  }
  .container .card .first-content #avatar {
    width: 70px;
    height: 70px;
  }
}
@media screen and (max-width: 535px) {
  .container .search-container {
    padding: 7px;
  }
  .container .search-container input {
    font-size: 13px;
    background-position: center left 16px;
    padding: 0.5rem 0.5rem 0.5rem 45px;
  }
  .container .search-container #search-btn {
    font-size: 14px;
  }
  .container .card {
    padding: 30px 24px;
  }
  .container .card .first-content #avatar {
    margin-right: 20px;
  }
  .container .card .first-content .card-body .basic-info #name {
    font-size: 16px;
  }
  .container .card .first-content .card-body .basic-info .login-container #login {
    font-size: 13px;
  }
  .container .card .first-content .card-body #join-date {
    font-size: 13px;
  }
  .container .card .second-content #bio {
    font-size: 13px;
    padding-top: 33px;
  }
  .container .card .second-content .numbers-container {
    padding: 15px 5px;
  }
  .container .card .second-content .numbers-container .number-item {
    text-align: center;
  }
  .container .card .second-content .numbers-container .number-item .title {
    font-size: 11px;
  }
  .container .card .second-content .numbers-container .number-item .number {
    font-size: 16px;
  }
  .container .card .second-content .contact-container {
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  .container .card .second-content .contact-container {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
