:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --background-body-dark: #141D2F;
  --background-card-dark: #1E2A47;
  --text-primary-dark:#fff;
}

body {
  background-color: #F6F8FF;
  color: black;
  font-family: "Space Mono", monospace;
}
body .boxshadow {
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

.container {
  max-width: 730px;
  width: 70%;
  margin: 0 auto;
}
.container a {
  text-decoration: none;
  color: #000;
}
.container a:hover {
  text-decoration: underline;
}
.container .top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.container .top-banner #logo {
  font-size: 26px;
}
.container .top-banner .button-box #theme-btn {
  color: #697C9A;
  font-family: "Space Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 78px;
  background: none;
  border: none;
}
.container .top-banner .button-box #theme-btn:hover {
  cursor: pointer;
}
.container .top-banner .button-box #theme-btn #theme-label {
  text-transform: uppercase;
  padding-left: 2px;
  font-weight: 700;
  letter-spacing: 2.5px;
  font-size: 13px;
}
.container .top-banner .button-box #theme-btn #theme-label::before {
  content: "Dark";
}
.container .top-banner .button-box #theme-btn #moon-icon {
  display: block;
}
.container .top-banner .button-box #theme-btn #light-bulb-icon {
  display: none;
}
.container .search-container, .container .card {
  background-color: #FEFEFE;
  margin: 10px 0;
}
.container .search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 25px;
}
.container .search-container input {
  flex: 1;
  font-family: "Space Mono", monospace;
  font-size: 18px;
  background: url("../assets/icon-search.svg") no-repeat center left 32px/contain;
  background-size: 21px 21px;
  padding: 0.5rem 0.5rem 0.5rem 77px;
  border: none;
  color: #222731;
  line-height: 25px;
  outline: none;
}
.container .search-container input::placeholder, .container .search-container input::-webkit-input-placeholder {
  font-weight: 700;
  border: none;
  color: #4B6A9B;
}
.container .search-container input:focus {
  border: none;
}
.container .search-container #search-btn {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #0079FF;
  border: none;
  border-radius: 10px;
  padding: 13px 24px;
  color: #fff;
}
.container .card {
  border-radius: 10px;
  padding: 45px 48px;
}
.container .card .first-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .card .first-content #avatar {
  border-radius: 50%;
  width: 117px;
  height: 117px;
  margin-right: 35px;
}
.container .card .first-content .card-body {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.container .card .first-content .card-body .basic-info {
  flex: 1;
}
.container .card .first-content .card-body .basic-info #name {
  color: #2B3442;
  padding-right: 20px;
}
.container .card .first-content .card-body .basic-info .login-container #login {
  color: #0079FF;
  font-size: 16px;
}
.container .card .first-content .card-body .basic-info .login-container .error-message {
  display: none;
}
.container .card .first-content .card-body .basic-info .login-container.unavailable a {
  display: none;
}
.container .card .first-content .card-body .basic-info .login-container.unavailable .error-message {
  display: block;
}
.container .card .first-content .card-body #join-date {
  flex: 1;
  color: #697C9A;
  font-size: 15px;
  line-height: 36px;
}
.container .card .second-content {
  margin-left: 152px;
}
.container .card .second-content #bio {
  font-size: 15px;
  color: #4B6A9B;
}
.container .card .second-content #bio.unavailable {
  opacity: 0.75;
}
.container .card .second-content .numbers-container {
  display: flex;
  background-color: #F6F8FF;
  border-radius: 10px;
  padding: 15px 30px;
  margin: 30px 0;
}
.container .card .second-content .numbers-container .number-item {
  flex: 1;
}
.container .card .second-content .numbers-container .number-item .title, .container .card .second-content .numbers-container .number-item .number {
  display: block;
}
.container .card .second-content .numbers-container .number-item .title {
  color: #4B6A9B;
  font-size: 13px;
}
.container .card .second-content .numbers-container .number-item .number {
  color: #2B3442;
  font-size: 22px;
  font-weight: 700;
}
.container .card .second-content .contact-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  font-size: 15px;
}
.container .card .second-content .contact-container .location-container .error-message, .container .card .second-content .contact-container .twitter-container .error-message, .container .card .second-content .contact-container .blog-container .error-message, .container .card .second-content .contact-container .company-container .error-message {
  display: none;
}
.container .card .second-content .contact-container .location-container.unavailable, .container .card .second-content .contact-container .twitter-container.unavailable, .container .card .second-content .contact-container .blog-container.unavailable, .container .card .second-content .contact-container .company-container.unavailable {
  opacity: 0.6;
}
.container .card .second-content .contact-container .location-container.unavailable a, .container .card .second-content .contact-container .twitter-container.unavailable a, .container .card .second-content .contact-container .blog-container.unavailable a, .container .card .second-content .contact-container .company-container.unavailable a {
  display: none;
}
.container .card .second-content .contact-container .location-container.unavailable .error-message, .container .card .second-content .contact-container .twitter-container.unavailable .error-message, .container .card .second-content .contact-container .blog-container.unavailable .error-message, .container .card .second-content .contact-container .company-container.unavailable .error-message {
  display: inline;
}

body.dark {
  background-color: var(--background-body-dark);
  color: var(--text-primary-dark);
}
body.dark .boxshadow {
  box-shadow: none;
}
body.dark a {
  color: #fff;
}
body.dark .container .top-banner .button-box #theme-btn #theme-label {
  color: #fff;
}
body.dark .container .top-banner .button-box #theme-btn #theme-label::before {
  content: "Light";
}
body.dark .container .top-banner .button-box #theme-btn #moon-icon {
  display: none;
}
body.dark .container .top-banner .button-box #theme-btn #light-bulb-icon {
  display: block;
}
body.dark .container .search-container, body.dark .container .card {
  background-color: var(--background-card-dark);
}
body.dark .container .search-container input {
  color: #fff;
}
body.dark .container .card .card-body .basic-info #name {
  color: #fff;
}
body.dark .container .card .card-body #join-date {
  color: #fff;
}
body.dark .container .card .second-content #bio {
  color: #fff;
}
body.dark .container .card .second-content .numbers-container {
  background-color: var(--background-body-dark);
}
body.dark .container .card .second-content .numbers-container .number-item .title {
  color: #fff;
}
body.dark .container .card .second-content .numbers-container .number-item .number {
  color: #fff;
}

@media screen and (max-width: 900px) {
  .container .card .first-content .card-body {
    flex-direction: column;
    justify-content: flex-start;
  }
  .container .card .second-content {
    margin-left: 0;
    padding-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .container .card .first-content #avatar {
    width: 70px;
    height: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
