body {
    background-color: #F6F8FF; //add light color
    color:black;
    font-family: 'Space Mono', monospace;
    
    .boxshadow {
        box-shadow: 0px 16px 30px -10px rgba(70, 96, 187,.2)
    }
}

.container {
    max-width: 730px;
    width: 70%;
    margin: 100px auto 0;
    
    a {
        text-decoration: none;
        color: #000;
        
        &:hover {
            text-decoration: underline;
        }
    }
    
    .top-banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
        
        #logo {
            font-size: 26px;
        }
        
        .button-box {
            #theme-btn {
                color:#697C9A;
                font-family: 'Space Mono', monospace;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 78px;
                background: none;
                border: none;
                &:hover {
                    cursor: pointer;
                    filter:invert(0%) sepia(0%) saturate(0%) hue-rotate(177deg) brightness(40%) contrast(93%);
                }
                
                #theme-label {
                    text-transform: uppercase;
                    padding-left: 2px;
                    font-weight: 700;
                    letter-spacing: 2.5px;
                    font-size: 13px;

                    &::before{
                        content:'Dark';
                    }
                }
                
                #moon-icon {
                    display: block;
                }
                
                #light-bulb-icon {
                    display: none;
                }
            }
        }
    }
    
    .search-container, .card {
        background-color: #FEFEFE;
        margin: 10px 0;
    }
    
    .search-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 25px;
        
        input {
            flex:1;
            font-family: 'Space Mono', monospace;
            font-size: 18px;
            background: url('../assets/icon-search.svg') no-repeat center left 32px/contain;
            background-size: 21px 21px;
            padding: 0.5rem 0.5rem 0.5rem 77px;
            border: none;
            color:#222731;
            line-height: 25px;
            outline: none;
            min-width: 0;
            
            &::placeholder,
            &::-webkit-input-placeholder {
                border: none;
                color:#4B6A9B;
            }
            
            &:focus {
                border: none;
            }
        }
        
        .error-message {
            display: none;
            font-size: 15px;
            color: #F74646;
            font-weight: bold;
            padding-right: 24px;
        }
        
        &.unavailable {
            .error-message {
                display: block;
            }
        }
        
        #search-btn {
            font-family: 'Space Mono', monospace;
            font-size: 16px;
            box-sizing: border-box;
            background-color: #0079FF;
            border: none;
            border-radius: 10px;
            padding: 13px 24px;
            color: #fff;

            &:hover {
                background-color: #60ABFF;
                cursor: pointer;
            }

            &:active {
                background-color: #0079FF;
            }
        }
    }
    
    .card {
        border-radius: 10px;
        padding: 45px 48px;
        
        .first-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            #avatar {
                border-radius: 50%;
                width: 117px;
                height: 117px;
                margin-right: 40px;
            }
            
            .card-body {  
                width: 80%;                
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                
                .basic-info {
                    flex: 1;
                    
                    #name {
                        color:#2B3442;
                        padding-right: 20px;
                    }
                    
                    .login-container {
                        #login {
                            color: #0079FF;
                            font-size: 16px;
                        }
                        .error-message {
                            display: none;
                        }
                        
                        &.unavailable {
                            a {
                                display: none;
                            }
                            
                            .error-message {
                                display: block;
                            }
                        }
                    }
                }
                
                #join-date {
                    flex: 1;
                    color: #697C9A;
                    font-size: 15px;
                    line-height: 36px; //So that the name and the join date are lined up together
                    text-align: right;
                }
                
            }
            
            
        }
        
        
        
        // ---------- 2nd content ---------- 
        .second-content {
            margin-left: 157px; 
            
            #bio {
                font-size: 15px;
                color: #4B6A9B;
                line-height: 25px;
                
                &.unavailable {
                    opacity: 0.75;
                }
            }
            
            .numbers-container {
                display: flex;
                background-color:#F6F8FF;
                border-radius: 10px;
                padding: 15px 30px;
                margin: 30px 0;
                
                .number-item {
                    flex:1;
                    .title, .number {
                        display: block;
                    }
                    
                    .title {
                        color: #4B6A9B;
                        font-size: 13px;
                    }
                    
                    .number {
                        color: #2B3442;
                        font-size: 22px;
                        font-weight: 700;
                        
                    }
                }
            }
            
            .contact-container {
                display: grid;
                gap: 5px 15px;
                grid-template-columns: repeat(2,1fr);
                font-size: 15px;
                .location-container, .twitter-container, .blog-container, .company-container {
                    span {
                        color: #4B6A9B;
                    }
                    a {
                        word-break: break-all;
                        color: #4B6A9B;
                    }
                    .error-message {
                        display: none;
                    }

                    img {
                        margin-right: 10px;
                    }
                    
                    &.unavailable { //This will hide the link and show the error message instead
                        opacity: 0.6;
                        a {
                            display: none;
                        }
                        .error-message {
                            display: inline;
                        }
                    }
                }

                .location-container {
                    img {
                        margin-right: 16px;
                    }
                }
            }
        }
    }
}