@media screen and (max-width:956px) {
  .container {
    .card {
      .first-content {
        .card-body {
          flex-direction: column;
          justify-content: flex-start;
        }
      }

      .second-content {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}


@media screen and (max-width:600px) {
  .container {
    .card {
      .first-content {
        #avatar {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}